.bread-crumbs {
    margin: 140px 0 40px 20px;
}

.bread-crumbs span {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #5e5858;
    cursor: pointer;
}

.bread-crumbs span:hover{
    color: #0a8934;
}

/* .hide-bc {
    display: none;
} */

