@media screen and (min-width: 1700px) {
    .logo {
        width: 195px;
        height: 45px;
    }
    
    .logo-title,
    .nav-item-title {
        font-size: 20px;
    }

    .main,
    .pagination {
        max-width: 1700px;
        width: 100%;
        height: auto;
 }

    .pagination {
        margin: 0 auto;
    } 

    .article {
        max-width: 1700px;
        width: 100%;
 }

    .img-container {
        max-width: 1700px;
        max-height: 700px;
    }

   .author-name,
   .article-category {
       font-size: 16px;
   }

   .article-title {
       font-size: 26px;
   }
   
   .article-text {
       font-size: 20px;
   }

   .recipe-page {
       max-width: 1700px;
   }

   .recipe-title {
       font-size: 30px;
   }

   .bread-crumbs a,
   .ingredients-item,
   .recipe-body-article {
       font-size: 22px;
   }


   .recipe-body-article {
    line-height: 2.5;
   }

   .recipe-image {
    max-width: 800px;
    height: 600px;
    }

    .footer-icon {
        width: 40px;
    }
}

@media screen and (max-width: 1330px) {
    .map-container {
        /* width: 960px; */
        margin: 0 auto;
    }

    #mapDiv {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .image-link {
        height: 30px;
    }

    .search-container  {
        display: block;
        margin: 20px auto;
        
    }

    .search {
        display: block;
        margin: 20px;
        text-align: center;
    } 

    .search-input,
    .category {
        width: 150px;
    }

    .main {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
    }

    .bread-crumbs {
        margin: 100px 0 20px 20px;
   }

   .recipe-page-container {
        display: block;
        margin: 0 20px;
   }

   .recipe-title {
        font-size: 20px;
        text-align: center;
   }

   .ingredients-item {
        margin-left: 20px;
   }

   .recipe-image {
        display: block;
        margin: 0 auto;
}

    .gallery-first-block, 
    .gallery-second-block {
        flex-wrap: wrap;
    }
    
    .signup-body {
        display: block;
        text-align: center;
    }
    
    .contacts-form,
    .search-container,
    .recipe-page-header,
    .form-container,
    .input-img,
    .button-wp  {
        display: block;
    }

    .signup-form > input,
    .login-form > input,
    .button-wp {
        margin: 0 auto;
    }
    
    .signup-items:last-child {
        margin: 20px auto;
    }

    #login-user-name,
    #log-in {
        margin-top: 20px;
    }

    .login-title,
    .login-form {
        margin: 0;
    }

    .input-wp,
    .input-title-wp {
        width: 300px;
    }

    .form-wp > select {
        display: block;
        margin: 0 auto;
    }
    
    .input-img {
        margin: 20px auto 20px;
        width: 150px;
    }

    .button-wp {
        width: 150px;
    }

    .log-out,
    #back-wp {
        display: block;
        margin: 0 0 20px auto;
    }

    .user-page {
        margin-top: 100px;
    }

    .saved-recipe {
        margin-right: 20px;
    }

    .contacts-text {
        margin: 20px;
    }

    .contacts-input {
        max-width: 320px;
    }

    /* #mapDiv, 
    iframe, 
    .gm-inset, .gm-style,
    .gm-style > div,
    .gm-inset-hover-enabled,
    #mapDiv > div {
        max-width: 320px;
    } */
    .header {
        height: 80px;
    }

    .map, #mapDiv, 
    iframe, {
        display: none;
    }

    .article-image img {
        height: 300px;
    }

    .article-title {
        font-size: 16px;
    }

    .article-text {
        overflow: scroll; 
        height: 70px;
    }

    .article-category {
        margin: 10px 30px 0 0;
    }

    .hamburger {
        right: 0;
        width: 50px;
        margin-top: 20px;
        font-weight: bold;
        display: flex;
        z-index: 2;
        position: absolute;
        text-align: center;
        line-height: 1;
        cursor: pointer;
        font-size: 30px;
    }

    .nav.open .nav-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 0px;
        background: rgb(255, 255, 255, 0.7);
        height: 200px;
        text-align: right;
        border-radius: 8px;
    }

    .nav.open .nav-menu .nav-item-title {
        font-size: 16px;
        line-height: 2;
        text-align: center;
    }

    .nav-menu {
        margin: 0;
        list-style: none;
        padding-left: 20px;
        display: none;
    }    

    .theme:hover .nav-submenu {
        position: relative;
        right: 30px;
    }

    .footer {
        height: 200px;
    }

    .footer-container {
        flex-wrap: wrap;
    }

    .footer-form {
        display: block;
        text-align: center;
    }

    .footer-input,
    .footer-button,
    .footer-icons {
        margin-bottom: 20px;
    }

    .footer-icons {
        display: block;
        margin: 0 auto;
    }

    .footer-link {
        text-decoration: none;
    }
    
}